.todo-item__div {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: 0.7s todo-item__animation;
}

@keyframes todo-item__animation {
    0% {
        opacity: 0;
    }
}

.todo-item {
    width: 200px;
    background-color: #edf7ffbd;
    border-radius: 13px;
    text-align: center;
    overflow-wrap: break-word;
    padding: 10px;
    color: black;

    transition: 0.6s;
}

.todo-item__button {
    background-color: transparent;
    border-radius: 20px;
    border-color: transparent;
    width: 40px;
    height: 25px;
    margin-left: 5px;
}

.todo-item__button-through {
    background-color: transparent;
    border-radius: 20px;
    border-color: transparent;
    width: 40px;
    height: 25px;
    margin-left: 5px;
}
